.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px 15px;
  text-align: center;
  background-color: yellowgreen;
  color: rgb(255, 255, 255);
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 5px;
}