@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background: #333;
}

h1 {
  color: lightseagreen;
  padding: 10px 20px;
  border: 2px solid rgb(228, 96, 44);
}

table{
  margin: auto;
  background-color: #9dd2ea;
  width: 295px;
  height: 325px;
  text-align: center;
  border-radius: 4px;
}

.cont-flex {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

input{
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: 4px;
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  cursor: pointer;
}

.operator{
  background-color: #f1ff92;
  position: relative;
}


#clear{
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
  margin-bottom: 15px;
}

#answer{
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #f1faeb;
  float: left;
}
/* answer hover effect */
#answer:hover{
  width: 270px;
  font-size: 26px;
  text-align: center;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  background-color: #f1faeb;
  color: #333;
}

/* add input hover effect */
input:hover, .hovered-key {
  border: 0 solid #000;
  color: #ffffff;
  background-color: #4672ec;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #164368;
}
/* hover */
.operator:hover{
  background-color: #e7f56b;
  box-shadow: 0 4px #b7c259;
  color: #333;
}
/* hover */
#clear:hover{
  float: left;
  display: block;
  background-color: #f297a0;
  margin-bottom: 15px;
  box-shadow: 0 4px #cc7f86;
}