html, body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* background: #333; */
  font-family: 'Exo 2', sans-serif;
}

.container-nav-elements {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center
}
.container {
  flex-direction: row;
}
.bg--primary {
  background: rgba(14, 219, 255, 0.815);
}
.tc-light {
  color: white;
}
.text-center {
  text-align: center;
}
.mw-100 {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px
}



ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  gap: 1rem;
}

li {
  display: block;
  background: rebeccapurple;
  color: white;
  padding: 1rem;
}


.button {
	-webkit-appearance: none;
	border: none;
	min-width: 180px;
	display: inline-block;
	vertical-align: middle;
	min-width: 160px;
	line-height: 0.83333;
	font-weight: 700;
	letter-spacing: 0.267em;
	text-indent: 0.267em;
	text-transform: uppercase;
	text-align: center;
	padding: 1.5em 1.6em;
	background-color: #fff;
	border-radius: 2px;
	transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.05s;
	cursor: pointer;
}

.button:focus,
.button:hover {
	outline: 0;
	color: #fff;
	background: #1bacdb;
	text-decoration: none;
}

.button--primary {
	background: #1bacdb;
	border: 1px solid #1bacdb;
	color: #fff;
}

.button--primary:hover {
	color: #1bacdb;
	background: #fff;
	text-decoration: none;
}

.button--block {
	display: block;
	width: 100%;
}

.form-control {
  height: 45px;
  padding: 2px 5px;
  font-family: 'Exo 2', sans-serif;
}

